body {
  margin: 0;
}

.container {
  padding: 16px;
  margin: auto;
  max-width: 500px;
}

h1 {
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 1.75rem;
  text-transform: uppercase;
  opacity: 0.8;
  margin-bottom: 16px;
}

.expression,
.answer {
  font-family: Lato, sans-serif;
}

.expression {
  font-weight: 900;
  font-size: 3rem;
  margin-top: 16px;
}

.answer {
  font-size: 1.5rem;
}

.answer .letter {
  font-weight: bold;
}
